@inherits LayoutComponentBase

@inject ChatStateService ChatState
@inject IChatService ChatService

<div class="layout">
    <aside class="sidebar @(SidebarIsMinimized ? "mini" : "")">
        <div class="buttons">
            <button class="btn-new" @onclick="CreateChat">@(SidebarIsMinimized ? "+" : "+ NOVO CHAT")</button>
            <button class="btn-toggle" @onclick="ToggleSidebar">☰</button>
        </div>

        <div class="chat-list">
            @foreach (var chat in Chats)
            {
                <div class="chat-item @(chat.Id == IdSelectedChat ? "active" : "")" @onclick="() => SelectChat(chat.Id)">
                    <span>@chat.Name</span>
                    <button class="delete-btn" @onclick="@(e => DeleteChat(chat.Id))" @onclick:stopPropagation="true">
                        🗑️
                    </button>
                </div>      
            }
        </div>
        <div class="profile">
            <div class="avatar">C</div>
            <span>Carlos / Carlinho</span>
        </div>
    </aside>
    <main class="main">
        @Body
    </main>
</div>

@code {
    #region [LOAD]
    List<Chat> Chats = new();
    protected override async Task OnInitializedAsync()
    {
        ChatState.OnChange += HandleChatStateChanged;
        IdSelectedChat = ChatState.IdSelectedChat;
        await ReloadChatsAsync();
    }

    async void HandleChatStateChanged()
    {
        IdSelectedChat = ChatState.IdSelectedChat;
        await ReloadChatsAsync();
        await InvokeAsync(StateHasChanged);
    }

    async Task ReloadChatsAsync()
    {
        Chats = await ChatService.ListChatsAsync();
    }

    public void Dispose()
    {
        ChatState.OnChange -= HandleChatStateChanged;
    }

    #endregion [LOAD]

    #region [SELECTION]
    Guid IdSelectedChat = Guid.Empty;
    void SelectChat(Guid id)
    {
        ChatState.SelectChat(id);
    }
    #endregion [SELECTION]

    #region [ANIMATION]
    bool SidebarIsMinimized = false;
    void ToggleSidebar()
    {
        SidebarIsMinimized = !SidebarIsMinimized;
    }
    #endregion [ANIMATION]

    #region [CREATECHAT]
    void CreateChat(){
        ChatState.SelectChat(Guid.Empty);
        StateHasChanged();
    }

    #endregion [CREATECHAT]

    #region [DELETECHAT]
    async Task DeleteChat(Guid id)
    {
        await ChatService.DeleteChatAsync(id);

        if (IdSelectedChat == id)
        {
            ChatState.SelectChat(Guid.Empty);
        }

        await ReloadChatsAsync();
        await InvokeAsync(StateHasChanged);
    }

    #endregion [DELETECHAT]
}
